.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icon {
  margin-right: 20px;
}

.social-icon span {
  display: block;
  transform: scale(1.5);
}

.signature {
  float: right;
  margin-top: 50px;
}

.icon-box > * {
  width: 100%;
}

.icon-img-container {
  display: flex;
  justify-content: center;
}

.icon-img-container img {
  width: 90px;
  height: 90px;
}

#biography .icon-title {
  margin-top: 50px;
  text-align: center;
  font-family: "Poppins" !important ;
}

.box-description {
  margin-top: 40px;
  text-align: center !important;
  font-style: italic;
  position: relative;
  font-family: "Poppins";
  line-height: 2;
}

.box-description::before {
  content: "''";
  font-size: 40px;
  display: inline-block;
  padding-right: 17px;
  font-family: "Catamaran", sans-serif;
  height: 50px;
  transform: rotate(180deg);
}
.box-description::after {
  color: var(--primary);
  content: "''";
  font-size: 40px;
  position: absolute;
  margin-left: 10px;
  font-family: "Catamaran", sans-serif;
  bottom: -40px;
}

@media (max-width: 991px) {
  .social-icons {
    justify-content: space-between;
  }
}
