#calendar {
  background-image: url("../img/tekstura\ tkanina.webp");
  background-attachment: fixed;
  padding: 120px;
}

.calendar-section-content {
  overflow: hidden;
  margin: auto;
  max-width: 1365px;
  margin-top: 90px;
}

.events {
  justify-content: space-between;
}

.event-container {
  display: flex;
}

.event-container .event-date {
  width: 20%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.event-container .event-date p {
  text-align: center;
}

.event-date .event-day {
  font-size: 54px;
  font-family: "Futura bt";
}

.event-date .event-month,
.event-date .event-year {
  font-size: 18px;
}

.event-details {
  width: 80%;
}

.event-details .event-place-info {
  margin-top: 15px;
  display: flex;
  gap: 14px;
}

.event-details .event-place-info .middle {
  padding: 0 14px;
  position: relative;
}

.event-details .event-place-info .middle::after,
.event-details .event-place-info .middle::before {
  content: "";
  height: 80%;
  width: 1px;
  position: absolute;
  right: 0;
  top: 10%;
  background-color: var(--white);
}

.event-details .event-place-info .middle::before {
  left: 0;
}

.event-place-info span {
  font-size: 14px;
}

.event-details .event-description {
  margin-top: 35px;
}

#calendar .calendar-swiper-button-next svg path,
#calendar .calendar-swiper-button-prev svg path {
  fill: rgba(255, 255, 255, 0.425);
}

#calendar .calendar-swiper-button-next {
  right: 5% !important;
}

#calendar .calendar-swiper-button-prev {
  left: 5% !important;
}

@media (max-width: 991px) {
  #calendar {
    background-size: cover;
    background-position: center;
  }
  .badge {
    display: block;
    margin-bottom: 15px;
  }
}
