#discography {
  padding-top: 20px;
}

#discography .buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#discography .discography-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
}

#discography .discography-container .album-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.album-box {
  z-index: 2;
}

.album-cd {
  position: absolute;
  z-index: 1;
  bottom: -20px;
  right: -20px;
  transition-duration: 0.8s;
  transition-property: transform;
}

.album-wrapper:hover .album-cd {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

@media (max-width: 991px) {
  #discography .section-content .container .album-box {
    width: 100%;
  }
  #discography .buttons-container {
    justify-content: center;
  }
  .album-cd {
    top: -30px;
    right: 2%;
    height: 100%;
  }
}
