#download {
  padding-top: 0;
  padding-bottom: 120px;
}

#download .icon-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#download .icon-box .download-arrow {
  position: absolute;
  left: 5px;
  z-index: 1;
  top: 17%;
}

#download .icon-box .download-arrow path {
  fill: #fff;
}

#download .icon-box .icon-description {
  text-align: center;
  font-family: "Poppins" !important;
  margin-top: 20px;
}

#download .icon-box .icon-description::before {
  display: none;
}

#download .icon-box .icon-description::after {
  display: none;
}

.folder-icon {
  width: 63px;
  height: auto;
}

.download-link {
  display: flex;
  justify-content: center;
}

.border {
  height: 80px;
  width: 2px;
  background: radial-gradient(#8e8e8e, #fff);
}

@media (max-width: 991px) {
  .border {
    transform: rotate(90deg);
    margin: auto;
  }
}
