.hero {
	height: 100vh;
	background-image: url("../img/hero.webp");
	margin-top: -90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 991px) {
	.hero img {
		width: 100%;
	}
}
