#hero {
  height: 100vh;
  background-image: url("../img/hero.webp");
  margin-top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

#hero img {
  margin-top: 15%;
}

@media (max-width: 991px) {
  #hero {
    background-position: center;
    height: 50vh;
  }

  #hero img {
    width: 100%;
  }
}
