#multimedia {
  padding-top: 0;
  padding-bottom: 40px;
}

#multimedia .multimedia-swiper-button-next {
  right: 5% !important;
}
#multimedia .multimedia-swiper-button-prev {
  left: 5% !important;
}

.multimedia-swiper {
  overflow: hidden;
}

.multimedia-swiper img {
  width: auto;
  height: auto;
  object-fit: cover;
}

@media (max-width: 991px) {
  .multimedia-swiper {
    height: 150px !important;
  }
}
